https://www.kaggle.com/datasets/yuhanhu831/melbourne

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ("D:/Python/DataSet/Airbnb Melburne/listings.csv", sep=',')

In [3]:
df.shape

(17409, 18)

In [4]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                           float64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17409 entries, 0 to 17408
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17409 non-null  int64
 1   name                            17407 non-null  object
 2   host_id                         17409 non-null  int64
 3   host_name                       17405 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   17409 non-null  object
 6   latitude                        17409 non-null  float64
 7   longitude                       17409 non-null  float64
 8   room_type                       17409 non-null  object
 9   price                           17409 non-null  int64
 10  minimum_nights                  17409 non-null  int64
 11  number_of_reviews               17409 non-null  int64
 12  last_review                     13484 non-null  object
 13  reviews_per_month               13484 non-null  float64
 14  calculated_host_listings_count  17409 non-null  int64
 15  availability_365                17409 non-null  int64
 16  number_of_reviews_ltm           17409 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.4+ MB

In [6]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [10]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,9835,Beautiful Room & House,33057,Manju,NaN,Manningham,-37.77268,145.09213,Private room,60,1,4,2015-09-12,0.03,1,365,0,NaN
1,12936,St Kilda 1BR+BEACHSIDE+BALCONY+WIFI+AC,50121,The A2C Team,NaN,Port Phillip,-37.85999,144.97662,Entire home/apt,95,3,42,2020-03-15,0.30,10,0,0,NaN
2,33111,Million Dollar Views Over Melbourne,143550,Paul,NaN,Melbourne,-37.81997,144.96834,Private room,1000,1,2,2012-01-27,0.02,1,265,0,NaN
3,38271,Melbourne - Old Trafford Apartment,164193,Daryl & Dee,NaN,Casey,-38.05725,145.33936,Entire home/apt,110,1,171,2021-12-16,1.26,1,313,18,NaN
4,41836,CLOSE TO CITY & MELBOURNE AIRPORT,182833,Diana,NaN,Darebin,-37.69729,145.00082,Private room,40,7,159,2018-08-22,1.17,2,0,0,NaN
5,43429,Tranquil Javanese-Style Apartment in Oakleigh ...,189684,Allan,NaN,Monash,-37.89960,145.11447,Entire home/apt,99,2,218,2021-12-21,1.61,2,308,8,NaN
6,44082,Queen Room in Beautiful House,193031,Vicki,NaN,Frankston,-38.14932,145.14157,Private room,79,7,52,2021-08-25,0.39,6,145,1,NaN
7,51592,Central City Warehouse Apartment,190879,Michelle,NaN,Melbourne,-37.81486,144.96267,Entire home/apt,228,2,314,2021-12-27,2.37,1,299,49,NaN
8,66754,Richmond CITY EDGE 60s COOL 1BR+WIFI+AC,50121,The A2C Team,NaN,Yarra,-37.82127,144.99408,Entire home/apt,94,3,70,2020-03-14,0.53,10,0,0,NaN
9,67211,"Kew Tranquility, Melbourne",326880,Kate,NaN,Boroondara,-37.80370,145.03396,Private room,45,2,176,2021-05-12,1.33,1,357,4,NaN

In [7]:
df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,1.740900e+04,1.740900e+04,0.0,17409.000000,17409.000000,17409.000000,17409.000000,17409.000000,13484.000000,17409.000000,17409.000000,17409.000000,0.0
mean,2.941236e+07,1.141079e+08,NaN,-37.827128,145.017436,190.626458,7.054110,26.948590,0.960199,8.383422,131.435637,4.845252,NaN
std,1.504325e+07,1.113817e+08,NaN,0.072614,0.147454,411.494624,35.167185,53.402014,1.328659,21.255568,142.236783,11.498529,NaN
min,9.835000e+03,9.082000e+03,NaN,-38.224110,144.518670,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,NaN
25%,1.759309e+07,2.350156e+07,NaN,-37.855460,144.957770,75.000000,1.000000,1.000000,0.120000,1.000000,0.000000,0.000000,NaN
50%,2.978818e+07,7.072784e+07,NaN,-37.819230,144.979860,122.000000,2.000000,5.000000,0.500000,1.000000,78.000000,0.000000,NaN
75%,4.178045e+07,1.770456e+08,NaN,-37.800900,145.030750,200.000000,3.000000,28.000000,1.300000,4.000000,290.000000,4.000000,NaN
max,5.418953e+07,4.381185e+08,NaN,-37.482300,145.837840,15000.000000,1125.000000,666.000000,30.850000,152.000000,365.000000,306.000000,NaN

In [11]:
pd.unique(df['neighbourhood'])

array(['Manningham', 'Port Phillip', 'Melbourne', 'Casey', 'Darebin',
       'Monash', 'Frankston', 'Yarra', 'Boroondara', 'Bayside',
       'Stonnington', 'Glen Eira', 'Kingston', 'Yarra Ranges', 'Banyule',
       'Moreland', 'Whitehorse', 'Melton', 'Brimbank', 'Hobsons Bay',
       'Wyndham', 'Moonee Valley', 'Whittlesea', 'Maribyrnong',
       'Greater Dandenong', 'Knox', 'Maroondah', 'Nillumbik', 'Cardinia',
       'Hume'], dtype=object)

In [13]:
pd.unique(df['room_type'])

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room'],
      dtype=object)

In [15]:
pd.unique(df['minimum_nights'])

array([   1,    3,    7,    2,   14,   21,    4,    5,    6,   30,   10,
         20,   28,  803,   13,   19,   60,  333,   11,   25,  300,    8,
        180,  183,    9,   12,   90,   36,   45,  365,  700,  500,  100,
        185,  182,   40,   31,  400,   15,   50,  900,  360,   99,   18,
       1124,  600,   16,  200,   91,   80,  120, 1000,  160,   55,   24,
         22,   33,   17,   92,   29, 1125,  330,   43,   56,  119,   93,
         70,  356,  150,   23,   63,   83,  130,  128,  175,   35,   95,
         84,  280,   46], dtype=int64)

In [16]:
df['price'].describe()

count    17409.000000
mean       190.626458
std        411.494624
min          0.000000
25%         75.000000
50%        122.000000
75%        200.000000
max      15000.000000
Name: price, dtype: float64

In [17]:
grouped_data = df.groupby('neighbourhood')
grouped_data.describe()
grouped_data.mean()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
neighbourhood,,,,,,,,,,,,,
Banyule,2.875635e+07,9.824748e+07,NaN,-37.739891,145.064264,118.000000,9.164894,18.356383,0.625347,4.361702,173.308511,3.026596,NaN
Bayside,2.790775e+07,9.216759e+07,NaN,-37.932787,145.012739,309.697368,5.608553,16.358553,0.628482,4.023026,140.118421,3.309211,NaN
Boroondara,2.643632e+07,9.409551e+07,NaN,-37.822687,145.053572,170.652083,7.679167,19.141667,0.631721,4.822917,134.031250,2.466667,NaN
Brimbank,3.415227e+07,1.549171e+08,NaN,-37.757327,144.805191,113.819672,2.295082,23.360656,0.783933,4.631148,170.139344,3.885246,NaN
Cardinia,3.301975e+07,1.430270e+08,NaN,-37.993816,145.477008,208.463235,1.720588,35.558824,1.357034,2.654412,166.139706,11.514706,NaN
Casey,3.369580e+07,1.584119e+08,NaN,-38.055518,145.307054,131.447368,2.901316,16.006579,0.810185,2.638158,166.703947,3.815789,NaN
Darebin,2.586199e+07,8.187399e+07,NaN,-37.752804,145.006662,170.180556,5.954365,18.138889,0.587158,2.551587,108.071429,2.742063,NaN
Frankston,3.032047e+07,1.157518e+08,NaN,-38.137924,145.140157,215.285714,3.057143,37.811429,1.252044,2.560000,151.548571,8.737143,NaN
Glen Eira,2.710878e+07,9.758248e+07,NaN,-37.891366,145.034016,173.397849,6.466667,14.341935,0.537898,5.131183,106.845161,2.462366,NaN
Greater Dandenong,3.182813e+07,1.750761e+08,NaN,-37.973540,145.182982,150.677686,2.958678,8.892562,0.492963,2.487603,142.041322,2.272727,NaN
Hobsons Bay,2.900234e+07,1.128725e+08,NaN,-37.853591,144.863851,187.846890,3.296651,20.622010,0.763171,5.172249,158.449761,3.875598,NaN
Hume,3.248221e+07,1.491654e+08,NaN,-37.618857,144.861528,142.984962,6.248120,32.992481,1.150990,2.977444,141.458647,5.894737,NaN
Kingston,2.935533e+07,1.118472e+08,NaN,-37.986196,145.093018,208.677043,6.217899,19.249027,0.764348,6.260700,145.272374,3.529183,NaN
Knox,2.939614e+07,1.311537e+08,NaN,-37.880333,145.259454,253.452703,10.114865,25.716216,0.860000,2.952703,152.229730,4.405405,NaN
Manningham,3.012593e+07,1.458845e+08,NaN,-37.778475,145.143644,156.767241,4.012931,18.594828,0.714514,5.008621,167.698276,4.090517,NaN
Maribyrnong,2.816833e+07,1.125051e+08,NaN,-37.796719,144.885339,134.230137,3.871233,24.632877,0.758694,4.035616,151.380822,3.569863,NaN
Maroondah,2.737180e+07,1.147828e+08,NaN,-37.808763,145.259862,262.011765,3.482353,22.941176,0.782419,2.141176,116.282353,3.447059,NaN
Melbourne,3.230365e+07,1.342777e+08,NaN,-37.813644,144.959082,193.357583,10.232487,31.331601,1.198263,14.139530,128.419554,5.886836,NaN
Melton,3.287368e+07,1.858566e+08,NaN,-37.704927,144.662638,148.681319,3.791209,13.604396,0.713818,2.373626,201.615385,2.725275,NaN
Monash,3.174875e+07,1.428141e+08,NaN,-37.894965,145.136352,151.554702,7.548944,14.531670,0.717738,3.902111,134.727447,3.541267,NaN
Moonee Valley,3.034644e+07,1.190095e+08,NaN,-37.764279,144.916044,158.003597,5.165468,21.791367,0.764608,5.485612,132.568345,2.960432,NaN
Moreland,2.649120e+07,8.648356e+07,NaN,-37.757447,144.959867,143.507483,6.846259,21.990476,0.682883,16.397279,102.478912,2.880272,NaN
Nillumbik,3.006323e+07,1.003322e+08,NaN,-37.672842,145.204790,233.402597,3.220779,65.844156,2.000303,1.519481,146.818182,13.519481,NaN
Port Phillip,2.692064e+07,8.481171e+07,NaN,-37.855964,144.975001,203.871092,6.409812,25.322270,0.817225,8.921597,118.334776,3.348725,NaN
Stonnington,2.699584e+07,9.649057e+07,NaN,-37.847652,145.005123,206.966777,6.330565,24.200997,0.771776,6.161960,119.284053,3.447674,NaN
Whitehorse,3.107488e+07,1.464504e+08,NaN,-37.827683,145.135488,141.593458,5.289720,11.710280,0.499968,4.885514,131.158879,2.116822,NaN
Whittlesea,3.324667e+07,1.422033e+08,NaN,-37.650137,145.055057,222.100000,6.823077,7.776923,0.488267,3.546154,190.876923,1.792308,NaN
Wyndham,3.225257e+07,1.610990e+08,NaN,-37.881165,144.710285,138.333333,3.707071,15.323232,0.750753,4.010101,164.419192,3.489899,NaN
Yarra,2.475652e+07,7.222012e+07,NaN,-37.804438,144.990924,164.991983,6.793003,33.219388,0.858550,5.456268,94.854956,4.327259,NaN
Yarra Ranges,2.975102e+07,1.188128e+08,NaN,-37.760095,145.479946,327.581114,1.853511,56.727603,1.847726,3.021792,207.185230,15.387409,NaN